<div class="main posts-show">
  <div class="container">
    <h2>Chapter<%=cid%></h2>
    <p>(Page<%=pid%>)</p>
    <h1><%= Page.find_by(id: pid).name%></h1>
    <%@boxes= Box.where(page_id: pid)%>
    <% @boxes.each do |box|%>
      <div class="posts-show-item">
        <%= render partial: 'shared/box', :locals => {:bid => box.id}%>
      </div>
      <%=@str%>
    <% end%>
  </div>
</div>