<div class="main posts-show">
  <div class="container">
    <h2>Chapter<%=cid%></h2>
    <p>(Page<%=pid%>)</p>
    <h1><%= Page.find_by(id: pid).name%></h1>
    <%# @boxes= Box.where(page_id: pid)%>
    <% @boxes.each do |box|%>
      <div class="posts-show-item">
        <%= render partial: 'shared/box', :locals => {:bid => box.id}%>
      </div>
      <%=@str%>
    <% end%>
  </div>
  <div class="container2">
    <h1 class="users-heading">New summary</h1>
    <%= render partial: 'shared/new_summary_with_page', :locals => {:pid => pid}%>
  </div>
</div>