<div class="main meals-show">
  <div class="container">
    <h2>Chapter1</h2>
    <p>(Page3)</p>
    <h1>Conclude this chapter with an examination of the command-line tools that ship with Ruby:</h1>
    <div class="posts-show-item">
      <h2></h2>
      <p></p>
      <h6></h6>
      <%=""%>
    </div>
    <%=@str%>
    <div class="posts-show-item">
      <h2></h2>
      <p></p>
      <h6></h6>
      <%=""%>
    </div>
    <%=@str%>
    <div class="posts-show-item">
      <h2></h2>
      <p></p>
      <h6></h6>
      <%=""%>
    </div>
    <%=@str%>
    <div class="posts-show-item">
      <h2></h2>
      <p></p>
      <h6></h6>
      <%=""%>
    </div>
    <%=@str%>
    <div class="posts-show-item">
      <p>title</p>
      <%= "description"%>
    </div>
  </div>
</div>