<%# provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Rubyist <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Rubyist", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Index","/parts/index")%>
        </li>
        <li>
          <%= link_to("Part1","/parts/p1")%>
        </li>
        <li>
          <%= link_to("Part2","/parts/p2")%>
        </li>
        <li>
          <%= link_to("Part3","/parts/p3")%>
        </li>
        <li>
          <%= link_to("Part4","/parts/p4")%>
        </li>
        <li>
          <%= link_to("Part5","/parts/p5")%>
        </li>
        <li>
          <%= link_to("Part6","/parts/p6")%>
        </li>
        <li>
          <%= link_to("Part7","/parts/p7")%>
        </li>
        <li>
          <%= link_to("Jan","/parts/p8")%>
        </li>
        <li>
          <%= link_to("Feb","/parts/p9")%>
        </li>
        <li>
          <%= link_to("Mar","/parts/p7")%>
        </li>
        <li>
          <%= link_to("Apr","/parts/p7")%>
        </li>
        <li>
          <%= link_to("May","/parts/p7")%>
        </li>
        <li>
          <%= link_to("June","/parts/p7")%>
        </li>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>
