<!DOCTYPE html>
<html>
  <head>
    <title>Rubyist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Rubyist", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Index","/parts/index")%>
        </li>
        <li>
          <%= link_to("Part1","/parts/p1")%>
        </li>
        <li>
          <%= link_to("Part2","/parts/p2")%>
        </li>
        <li>
          <%= link_to("Part3","/parts/p3")%>
        </li>
        <li>
          <%= link_to("TODO","/tasks/todo")%>
        </li>
        <li>
          <%= link_to("Create","/boxes/new")%>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>